<h2>CSV Export Options</h2>

	<%= render 'layouts/advanced_search' %>

	<div class="col-md-12 center">
		<h2>Contacts Fields</h2>
	</div>	


<script type="text/javascript">
    $(document).ready(function() {
        $('#example-post').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true
        });
    });
</script>

<div class="col-md-6 col-md-offset-1">
	<form class="form-horizontal" method="POST">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Contact ID:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Company:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Goes By:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Cell Phone:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> SF ID:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Created At:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Updated At:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Tax ID:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Drivers License:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Spouse Goes By:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Date of Birth:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Spouse Date of Birth:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Alt Phone 1:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Alt Phone 2:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Alt Phone 3:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Alt Phone 4:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Company Phone:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Home Phone:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Spouse Cell Phone:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> First Name:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Last Name:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Spouse First Name:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Spouse Last Name:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Email:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Spouse Email:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Web Address:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Alt Email:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Web Address
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Address Box 1:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Address Box 2:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Address Box 3:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Address Box 4:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> County Box 1
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> County Box 2
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> County Box 3
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> County Box 4:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> SSN:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Spouse SSN:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Urgent:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Additional Info:
                </label>
            </div>
        </div>
			</div>
		</form>
	</div>
</div>


	<div class="col-md-12 center">
		<h2>Comments Fields</h2>
	</div>	

	<div class="col-md-6 col-md-offset-1">
		<form class="form-horizontal" method="POST">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Comment ID:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Commentable ID:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Commentable Type:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Title:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Body:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Subject:
                </label>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> User ID:
                </label>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Parent ID:
                </label>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> User Name:
                </label>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Created At:
                </label>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="checkbox"> Updated At:
                </label>
            </div>
        </div>
			</div>
		</form>


	

    <div class="form-group">
        <div class="col-md-6 col-md-offset-8">
            <button type="submit" class="btn btn-default">Export to CSV</button>
        </div>
    </div>




<!-- <%= Comment.column_names.collect { |col_name| "#{col_name.capitalize}:" }.join("\n").humanize %> -->

<!-- <%= Contact.column_names.collect { |col_name| "#{col_name.capitalize}:" }.join("\n").humanize %> -->
